.logo {
  font-family: $headings-font-family;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 3px;
  color: $primary;
  text-transform: lowercase;

  &:hover,
  &:focus {
    color: $primary-hover;
  }
}

.nav-link {
  text-transform: uppercase;
  color: $primary;
  font-weight: 700;
  letter-spacing: 3px;

  &:hover {
    color: $primary-hover;
    text-decoration: underline;
  }

  &:focus {
    color: $primary-hover;
  }
}

.navbar-toggler {
  border: none;
  box-shadow: none;
  outline: none;
  padding: 0.25rem;

  &:focus,
  &:active,
  &:focus-visible {
    color: $primary-hover;
    border: none;
    box-shadow: none;
    outline: none;
  }
}
