body {
  background-color: $extra-light;
  color: $dark;
}

.logo {
  font-family: $headings-font-family;
  font-size: 2em;
  font-weight: 700;
  letter-spacing: 3px;
  color: $dark;
  text-transform: lowercase;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $primary;
  }
}

.nav-link {
  text-transform: uppercase;
  color: $dark;
  font-weight: 700;
  letter-spacing: 3px;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.nav-link-button {
  background: none;
  border: none;
  padding: 0.5rem 0;
  cursor: pointer;
  opacity: 0.7;

  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  color: $dark;

  &:hover,
  &:focus {
    text-decoration: underline;
    opacity: 1;
  }
}

.navbar-toggler {
  border: none;
  box-shadow: none;
  outline: none;
  padding: 0.25rem;

  &:focus,
  &:active,
  &:focus-visible {
    color: $dark;
    border: none;
    box-shadow: none;
    outline: none;
  }
}

.hamburger {
  color: $dark;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.searchbar-wrap {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.searchbar-inner {
  max-width: 700px;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.625em;
  height: 2.625em;
  border-radius: 50%;
}

.home-intro-txt {
  color: $accent;
  letter-spacing: 0.08em;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.footer-link {
  color: $primary;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
