.material-symbols-outlined {
  font-size: 1.5em;
}

.hamburger {
  color: $dark;
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.625em;
  height: 2.625em;
  border-radius: 50%;
}

.btn-accent {
  background-color: $accent;
  border-color: $accent;
  color: #fff;
}

.btn-accent:hover,
.btn-accent:focus {
  background-color: $accent-hover;
  border-color: $accent-hover;
  color: #fff;
}

.btn-outline-accent {
  color: $accent;
  border-color: $accent;
  background-color: transparent;
}

.btn-outline-accent:hover,
.btn-outline-accent:focus {
  background-color: $accent;
  border-color: $accent;
  color: #fff;
}
