$primary: #3b5f78;
$primary-hover: #314f63;
$primary-opacity: rgba(59, 95, 120, 0.122);
$secondary: #a8573f;
$secondary-hover: #8f4935;
$secondary-opacity: rgba(168, 88, 64, 0.122);
$accent: #3d8b87;
$accent-hover: #32736f;
$accent-opacity: rgba(61, 138, 134, 0.141);
$light: #fbfaf8;
$extra-light: #ffffff;
$dark: #202020;

$font-family-base: "Inter", sans-serif;
$headings-font-family: "Montserrat", sans-serif;

$btn-font-weight: 500;
$border-radius: 25px;
$input-border-radius: 0.75rem;
$card-border-color: none;
