$primary: #3b5f78;
$primary-hover: #314f63;
$secondary: #a8573f;
$secondary-hover: #8f4935;
$accent: #3d8b87;
$accent-hover: #32736f;
$light: #fbfaf8;
$extra-light: #ffffff;
$dark: #202020;

$font-family-base: "Inter", sans-serif;
$headings-font-family: "Montserrat", sans-serif;

$btn-font-weight: 500;
$border-radius: 25px;
$input-border-radius: 0.75rem;
$card-border-color: none;
