$primary: #3f5e7c;
$primary-hover: #324d66;
$secondary: #4c7d8c;
$light: #f6f9fc;
$dark: #1c1c1c;

$font-family-base: "Inter", sans-serif;
$headings-font-family: "Montserrat", sans-serif;

$border-radius: 25px;
